[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
# {% if cookiecutter.use_cloudformation == 'y' %}
cfn-lint = "*"
# {% endif %}
pre-commit = "*"
commitizen = "*"
yamllint = "*"

[packages]

[requires]
python_version = "3.8"

[scripts]
setup = "python setup.py"
